*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
captures
.externalNativeBuild

*.ap_
*.apk
bin/
*.class
*.dex
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline/
freeline_project_description.json
freeline.py
gen/
google-services.json
#.idea/dictionaries
#.idea/gradle.xml
#.idea/tasks.xml
.idea
*.log
.navigation/
out/
proguard/
app/build/
